@import "../../sassStyles/global";
.user-suggested{
    width: 25%;
    height: 80%;
    background-color: white;
    position: fixed;
    right: 1rem;
    font-size: 0.9rem;
    border-radius: 7px;
    overflow: scroll;

    &__title{
       color:$black
    }

    &::-webkit-scrollbar {
        display: none;
      }

    .user_card{
        width: 90%;
        min-height:6rem;
        max-height: auto;
        justify-content: space-between;
        border-top: 2px solid $lightBg;
        flex-wrap: wrap;

        .user-details{
            gap:0.8rem;

            span{

               .user-title {
                color: $textColor;
                font-weight: bold;
                    font-size: 0.8rem;
            }

            p {
                color: $textLight1Color;
                font-size: 12px;
            }
        }
        }

        .follow-img{
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            img{
                border-radius: 50%;
            }
        }

        .follow-btn{
            background-color: $blue-7;
            background-image: $primaryGradient;
            border: none;
            color: white;
            font-size: 1rem;
            font-family: inherit;
            border-radius: 3rem;
            margin-top: 5px;
            
        }

    }

    @include mdMinBreakPoint {
       display: none;
    }
}