@import "../../../sassStyles/global";
.create-form {
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: auto;
    min-height: 4rem;
  
    &__container {
      gap: 1rem;
      height: 4rem;
    }
  
    textarea {
      width: 70%;
      height: auto;
      border: none;
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
  
      &:focus {
        outline: none;
      }
    }
  
    .post-btn {
      text-align: center;
      border: none;
      border-radius: 3rem;
      color: white;
      font-size: 1rem;
      background-color: $blue-7;
      background-image: $primaryGradient;
    }
  }
  .profile-img {
    height: 3rem;
    width: 3rem;
  
    img {
      border-radius: 50%;
    }
  }
  .post-img{
    width: 16rem;
    height: 10rem;
    border-radius: 7px;
    background-color: yellow;
  }
  .footer-icons {
    border-top: 1px solid $borderColor;
    position: relative;
  
    &__left {
      width: 90%;
      gap: 1rem;
  
  
      span {
        display: flex;
        align-items: center;
        gap: 4px;
        color: $textColor;
        cursor: pointer;
      }
    }
  
    &__right {
      margin-left: auto;
    }
  
    @include smMinBreakPoint {
      flex-direction: column;
    }
  }
  
  .emoji {
    font-size: 1.2rem;
  }

