 @import "../../sassStyles/global";

 .replies{
     gap: 10px;

    &__img{
        width: 2rem;
        height: 2rem;

        img{
            border-radius: 50%;
        }
    }

    &__text-container{
         background-color: $blue-1;
         width: 90%;
         border-radius: 7px;
         gap: 6px;
         h4 {
            color: $textColor;
            font-size: 0.91rem;
        }

        .comment_edit{
            margin-left: auto;
            position: relative;
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            transition: 0.2s;
            color: $textColor;
        }

        p {
            color: $textLight1Color;
            font-size: 0.9rem;
        }

    }

 }