@import "../../sassStyles/global";
.main-section{
  width: 100%;
  background-color: $blue-1;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
  border-radius:10px ;
}
.post-header {
  justify-content: space-around;
  background-color: white;

  h4 {
    color: $textColor;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px;
    gap: 5px;
    cursor: pointer;
  }

  .icon {
    margin-left: auto;
    color: $blue-5;
  }
}
.post-list{
  width: 100%;
  overflow:scroll;
  border-radius: 1rem;
  background-color: white;
  &::-webkit-scrollbar {
    display: none;
  }
}