@import "../../sassStyles/global";

.profile-title{
    color: $blue-7;
    font-size: 1.3rem
}
.avatar-container{
  gap: 1rem;
  flex-wrap: wrap;
}
.selected-avatar{
  border: 2px solid $blue-3;
  border-radius: 50%;
  filter: brightness(100%);
}
//   input[type="radio"]{
//   display: none;

//   &:checked + .radio-btn{
//     border: 3px solid $blue-4;
//   }
//  } 

//   .radio-btn {
//     width:5.5rem;
//     height: 5.5rem;
//     display: inline-block;
//     border-radius: 50%;
//     cursor: pointer;
//         img{
//             border-radius: 50%;
//         }

//         @include smMinBreakPoint {
//           width:4.5rem;
//           height: 4.5rem;
//       } 
//   }

// .line{
//     height: 3px;
//     width: 4rem;
//     background-image: linear-gradient(to top right, $blue-7, #7e22ce);
// }