@import "../../sassStyles/global";

.sidebar {
    background-color: white;
    border-radius: 7px;
    
    .navlink {
        gap: 1rem;
        text-decoration: none;

        &__title {
            font-size: 1.1rem;

            @include mdMinBreakPoint {
                display: none;
             }
        }

        @include mdMinBreakPoint {
            background-color: white !important;
        }

    }
    @include mdMinBreakPoint {
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
    }
}