// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors

$blue-1:hsl(228, 84%, 72%);
$blue-2:#5271f0;
$blue-3:hsl(228, 84%, 50%);
$blue-4:hsl(228, 84%, 43%);
$blue-5:hsl(228, 84%, 30%);

$textColor: hsl(210, 7%, 28%);
$textLight1Color: hsl(210, 5%, 44%);