@import './sassStyles/global';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  background-color: $lightBg;
}
body::-webkit-scrollbar {
  display: none;
}

.responsive-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.xl{
  width: 10rem;
  height: 10rem;
}
.lg{
  width: 6rem;
  height: 6rem;
}
.md{
  width: 3.5rem;
  height: 3.5rem;
}
.sm{
  width: 3.1rem;
  height: 3.1rem;
}