@import "../../sassStyles/global";
.birthday-card{
    background-color: white;
    h4{
        position: absolute;
        top: 40%;
        color: $blue-5;
        font-size: 2rem;
        white-space: pre-line;
    }
}
.bday-img{
    position: relative;
}